.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  @apply text-blue-500;
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}


.column-2 {
  column-count: 2;
  column-gap: 3em;
  column-rule: 0.2px solid rgba(0, 0, 0, 0.2);
}

.column-3 {
  column-count: 3;
  column-gap: 3em;
  column-rule: 0.2px solid rgba(0, 0, 0, 0.2);
}

.column-4 {
  column-count: 4;
  column-gap: 3em;
  column-rule: 0.2px solid rgba(0, 0, 0, 0.2);
}

.column-5 {
  column-count: 5;
  column-gap: 3em;
  column-rule: 0.2px solid rgba(0, 0, 0, 0.2);
}

.column-6 {
  column-count: 6;
  column-gap: 3em;
  column-rule: 0.2px solid rgba(0, 0, 0, 0.2);
}

