h1, h2, h3, h4, h5, h6, p, body, a, img, blockquote, pre {
  margin: 0; padding: 0; border: 0;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 21px;
  line-height: 1.52;
  background-color: #f8f8f8;
  text-rendering: optimizeLegibility;
  padding: 1% 5%;
}

body, a {
  color: #000;
}

a, a:hover {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.header {
  background-color: #ff6600;
}

.header .logo {
  background-image: url(../img/y18.gif);
  background-repeat: no-repeat;
  background-size: 32px 32px;
  width: 32px;
  height: 32px;
  border: 1px solid white;
  margin: auto;
  margin: 4px;
}

.header .logo,
.header .title {
  display: inline-block;
  vertical-align: middle;
}

.header .nav {
  margin-left: 5px;
  display: inline;
  vertical-align: middle;  
}

#content .description {
  margin-top: 24px;
}

.article.full {
  margin: 24px 0;
}

.article.full pre code {
  background-color: #737477;
  color: #eee;
  padding: 24px 12px;
}

.article.full p,
.article.full pre {
  margin: 12px 0;
}

.article.intro {
  margin: 24px 0;
}

.article.intro .tag {
  font-size: 1.15rem;
  color: #828282;
}

.article.intro a:visited {
  color: #828282
}

.article.intro a:visited {
  color: #828282
}

.article.intro .content a {
  color: #3e999f;
}

.article.intro .meta {
  margin: 4px 0;
}

.article.intro .meta,
.article.intro .meta a,
.article.intro .meta a:hover,
.article.intro .meta a:visited {
  color: #828282;
}

.footer {
  margin: 24px 0;
}

.footer a {
  color: #828282;
}

.footer .copy {
  text-align: center;
  font-size: 1.15rem;
}

.archive {
  margin: 24px 0;
}

.archive .year {
  font-size: 1.45rem;
  font-weight: bold;
  color: #828282;
}

.archive .month {
  color: #828282;
  font-size: 1.35rem;
}

.archive .post-title {
  font-size: 1.25rem;
}

.archive ul {
  list-style: none;
}

.archive ul li {
  list-style: none;
}

.projects {
  margin-top: 24px;
}

.projects h3 {
  margin-top: 24px;
}

.projects h4 {
  margin-top: 24px;
}

.projects a {
  color: #828282;
}

/* code styling */

code {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 0.85em;
  color: #000;
}

pre code {
  display: block;
  line-height: 1.1;
}

p code {
  padding: 0.1em 0.3em 0.2em;
  border-radius: 0.3em;
  position: relative;
  background: #fffff3;

  white-space: nowrap;
}

/* syntax hl stuff */

code.lang-markdown {
  color: #424242;
}

code.lang-markdown .header,
code.lang-markdown .strong {
  font-weight: bold;
}

code.lang-markdown .emphasis {
  font-style: italic;
}

code.lang-markdown .horizontal_rule,
code.lang-markdown .link_label,
code.lang-markdown .code,
code.lang-markdown .header,
code.lang-markdown .link_url {
  color: #555;
}

code.lang-markdown .blockquote,
code.lang-markdown .bullet {
  color: #bbb;
}

/* media queries */

@media (max-width: 900px) {
  body {
    font-size: 1.25rem;
  }
}

@media (max-width: 690px) {
  body {
    font-size: 1.55rem;
  }

  .header {
    margin: -1% -5%;
    padding: 1% 5%;
  }

  .archive ul {
    list-style: none;
    padding: 0;
  }

  .archive ul li {
    margin-bottom: 12px;
  }

  .archive .post-title {
    margin-left: 24px;
  }
}
