@tailwind base;

.column-2 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  column-count: 2;
  column-gap: 3em;
  column-rule: 0.2px solid rgba(0, 0, 0, 0.2);
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
